body{
    background : lightsteelblue url(Image/mosaico.jpg) repeat;
 }
 h1{
    background-color: whitesmoke;
    /*https://www.w3schools.com/css/css_border.asp*/
    border: 3px ridge black;
    border-radius: 5px;
    width: 400px;
    /*Centralizando a caixa*/
    margin:20px auto;
    /*Centralizando o texto dentro da caixa*/
    text-align: center;
    box-shadow: 10px 10px 10px blue;

 }